<nav id="side-bar">
    <div>
        {{#tree-list as |list|}}
            {{#list.item hasChildren=conflictedFiles.length as |title-item|}}
                {{#if (eq title-item.section "item")}}
                    {{#title-item.text}}
                        Conflicted files
                    {{/title-item.text}}
                {{else if (eq title-item.section "subtrees")}}
                    {{#each conflictedFiles as |file|}}
                        {{#title-item.subtree.item as |file-item|}}
                            {{#file-item.link 'projects.project.conflicts.conflict' file.encodedName }}
                                {{file-item.icon icon='file'}}
                                {{file.name}}
                            {{/file-item.link}}
                        {{/title-item.subtree.item}}
                    {{/each}}
                {{/if}}
            {{/list.item}}
        {{/tree-list}}
    </div>
</nav>
